.insurance__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -50px;
}
.insurance__info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 600px;
          flex: 1 1 600px;
  margin: 0 50px;
}
.insurance__img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 560px;
          flex: 1 1 560px;
  margin: 0 50px;
}
.insurance__img img {
  max-width: 100%;
}