.partners {
  margin: 0 -40px;
}
.partners__title {
  text-align: center;
  margin-bottom: 110px;
}
.partners__logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.partners__logos--item {
  margin: 0 40px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 146px;
          flex: 0 1 146px;
  height: 60px;
  overflow: hidden;
}
.partners__logos--item img {
  max-width: 100%;
  display: block;
}