.partners {
    margin: 0 -40px;


    &__title {
        text-align: center;
        margin-bottom: 110px;
    }

    &__box {
        position: relative;
    }

    &__logos {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    &__logos--item {
        margin: 0 40px;
        flex: 0 1 146px;
        height: 60px;
        overflow: hidden;

        img {
            max-width: 100%;
            display: block;
        }
    }

    &__btn-arrow {
        font-size: 20px;
        color: #000 $dark--green;
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        display: flex;
        justify-content: space-between;
    }
}