.section {
    padding: 120px 0;

    &__subtitle {
        font-weight: 400;
        font-size: 13px;
        line-height: $lh--20;
        letter-spacing: 0.05px;
        text-transform: uppercase;
        color: $light--green;
        margin: 0 0 20px 0;
    }

    &__title {
        font-weight: 700;
        font-size: 36px;
        line-height: 46px;
        color: $dark--green;
        margin: 0 0 34px 0;
    }

    &__text {
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        /* or 167% */

        letter-spacing: 0.02px;

        color: $gray;
        margin: 0 0 26px 0;

    }

    &__title--intro {
        max-width: 516px;
        margin: 0 0 40px 0;
    }


}


.section--intro {

    background: url(../img/intro-bg.png) no-repeat center/cover;
}

.section--stat {
    padding-top: 100px;
}

// .section--benefits {}

// .section--insurance {}
.section--video {
    padding-bottom: 0;
}

.section--employers {
    background: url(../img/employers-bg.png) no-repeat center/cover;
}

.section--partners {
    border-bottom: 1px solid rgba(199, 199, 199, 0.37);

}

// .section--blog {}