.stat {
    display: flex;

    @media (max-width:768px) {
        flex-direction: column;
    }

    justify-content: space-between;
    align-items: center;
    margin: 0 -46px;

    &__info {
        flex: 1 1 510px;
        margin: 0 46px;

        @media (max-width:768px) {
            flex: auto;
        }
    }

    // &__subtitle {}

    // &__title {}

    // &__text {}

    &__img {
        flex: 1 1 510px;

        @media (max-width:768px) {
            flex: auto;
        }

        margin: 0 46px;
        overflow: hidden;

        img {
            max-width: 100%;
        }
    }
}